{#  extends base.html.twig    #}
{% extends ('FrontEndBundle::base.html.twig') %}

<head>
    <script
</head>

{% block title %} SHOP PAGE {% endblock %}

{% block content %}

{#CAP SHOP    #}
    <div class="category-field row" style="margin-right: -3%;">
        <div class="row fashion-header">
            <div class="col-md-12">
                <img src="{{ asset('bundles/framework/images/fashion.png') }}">
            </div>
            <div class="col-md-12 product-type">
                <img class="product-img" src="{{ asset('bundles/framework/images/cap.png') }}">
            </div>
        </div>

        <div class="tab-content" style="background-color: #ffffff; margin-left: 1%;">
            <div id="product" class="owl-carousel">
                <div>
                    <div class="product-field">
                        <a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a>
                    </div>
                    <div class="product-field">
                        <a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a>
                    </div>

                </div>
                <div>
                    <div class="product-field">
                        <a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a>
                    </div>
                    <div class="product-field">
                        <a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a>
                    </div>
                </div>
                <div>
                    <div class="product-field">
                        <a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a>
                    </div>
                    <div class="product-field">
                        <a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a>
                    </div>
                </div>
                <div>
                    <div class="product-field">
                        <a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a>
                    </div>
                    <div class="product-field">
                        <a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a>
                    </div>
                </div>
                <div>
                    <div class="product-field">
                        <a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a>
                    </div>
                    <div class="product-field">
                        <a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a>
                    </div>
                </div>
                <div>
                    <div class="product-field">
                        <a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a>
                    </div>
                    <div class="product-field">
                        <a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a>
                    </div>
                </div>
                <div>
                    <div class="product-field">
                        <a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a>
                    </div>
                    <div class="product-field">
                        <a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a>
                    </div>
                </div>

            </div>
        </div>






    </div>

                {#SHOE SHOP        #}
    {#<div class="category-field row" style="margin-right: -3%;">#}
        {#<div class="row fashion-header">#}
            {#<div class="col-md-12">#}
                {#&#123;&#35;<img src="{{ asset('bundles/framework/images/fashion.png') }}">&#35;&#125;#}
            {#</div>#}
            {#<div class="col-md-12 product-type">#}
                {#<img class="product-img" src="{{ asset('bundles/framework/images/shoe.png') }}">#}
            {#</div>#}
        {#</div>#}


        {#<div class="tab-content" style="background-color: inherit; margin-left: 1%;">#}
            {#<div id="shoe" class="tab-pane fade in active">#}
                {#<div id="shoe-shop" class="carousel slide" data-ride="carousel">#}
                    {#<!-- Indicators -->#}
                    {#<ol class="carousel-indicators">#}
                        {#<li data-target="#shoe-shop" data-slide-to="0" class="active"></li>#}
                        {#<li data-target="#shoe-shop" data-slide-to="1"></li>#}
                        {#<li data-target="#shoe-shop" data-slide-to="2"></li>#}
                        {#<li data-target="#shoe-shop" data-slide-to="3"></li>#}
                    {#</ol>#}

                    {#<!-- Wrapper for slides -->#}
                    {#<div class="carousel-inner" role="listbox">#}
                        {#<div class="item active">#}
                            {#<div class="panel panel-default">#}
                                {#<div class="panel-body">#}
                                    {#<ul class="nav nav-pills">#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-3.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-4.png') }}"></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                                {#<div class="panel-body">#}
                                    {#<ul class="nav nav-pills">#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-3.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-4.png') }}"></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}

                        {#<div class="item">#}
                            {#<div class="panel panel-default">#}
                                {#<div class="panel-body">#}
                                    {#<ul class="nav nav-pills">#}

                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-3.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-4.png') }}"></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                                {#<div class="panel-body">#}
                                    {#<ul class="nav nav-pills">#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-3.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-4.png') }}"></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}

                        {#<div class="item">#}
                            {#<div class="panel panel-default">#}
                                {#<div class="panel-body">#}
                                    {#<ul class="nav nav-pills">#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-3.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-4.png') }}"></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                                {#<div class="panel-body">#}
                                    {#<ul class="nav nav-pills">#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-3.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-4.png') }}"></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}

                        {#<div class="item">#}
                            {#<div class="panel panel-default">#}
                                {#<div class="panel-body">#}
                                    {#<ul class="nav nav-pills">#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-3.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-4.png') }}"></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                                {#<div class="panel-body">#}
                                    {#<ul class="nav nav-pills">#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-3.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-4.png') }}"></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}

                    {#<!-- Left and right controls -->#}
                    {#<a class="left carousel-control" href="#shoe-shop" role="button" data-slide="prev">#}
                        {#<span aria-hidden="true"><<<</span>#}
                        {#<span class="sr-only">Previous</span>#}
                    {#</a>#}
                    {#<a class="right carousel-control" href="#shoe-shop" role="button" data-slide="next">#}
                        {#<span aria-hidden="true">>>></span>#}
                        {#<span class="sr-only">Next</span>#}
                    {#</a>#}
                {#</div>#}
            {#</div>#}

        {#</div>#}
    {#</div>#}


{#&#123;&#35;JACKET SHOP    &#35;&#125;#}
    {#<div class="category-field row" style="margin-right: -3%;">#}
        {#<div class="row fashion-header">#}
            {#<div class="col-md-12">#}
                {#&#123;&#35;<img src="{{ asset('bundles/framework/images/fashion.png') }}">&#35;&#125;#}
            {#</div>#}
            {#<div class="col-md-12 product-type">#}
                {#<img class="product-img" src="{{ asset('bundles/framework/images/jacket.png') }}">#}
            {#</div>#}
        {#</div>#}


        {#<div class="tab-content" style="background-color: inherit; margin-left: 1%;">#}
            {#<div id="jacket" class="tab-pane fade in active">#}
                {#<div id="jacket-shop" class="carousel slide" data-ride="carousel">#}
                    {#<!-- Indicators -->#}
                    {#<ol class="carousel-indicators">#}
                        {#<li data-target="#jacket-shop" data-slide-to="0" class="active"></li>#}
                        {#<li data-target="#jacket-shop" data-slide-to="1"></li>#}
                        {#<li data-target="#jacket-shop" data-slide-to="2"></li>#}
                        {#<li data-target="#jacket-shop" data-slide-to="3"></li>#}
                    {#</ol>#}

                    {#<!-- Wrapper for slides -->#}
                    {#<div class="carousel-inner" role="listbox">#}
                        {#<div class="item active">#}
                            {#<div class="panel panel-default">#}
                                {#<div class="panel-body">#}
                                    {#<ul class="nav nav-pills">#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-3.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-4.png') }}"></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                                {#<div class="panel-body">#}
                                    {#<ul class="nav nav-pills">#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-3.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-4.png') }}"></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}

                        {#<div class="item">#}
                            {#<div class="panel panel-default">#}
                                {#<div class="panel-body">#}
                                    {#<ul class="nav nav-pills">#}

                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-3.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-4.png') }}"></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                                {#<div class="panel-body">#}
                                    {#<ul class="nav nav-pills">#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-3.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-4.png') }}"></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}

                        {#<div class="item">#}
                            {#<div class="panel panel-default">#}
                                {#<div class="panel-body">#}
                                    {#<ul class="nav nav-pills">#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-3.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-4.png') }}"></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                                {#<div class="panel-body">#}
                                    {#<ul class="nav nav-pills">#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-3.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-4.png') }}"></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}

                        {#<div class="item">#}
                            {#<div class="panel panel-default">#}
                                {#<div class="panel-body">#}
                                    {#<ul class="nav nav-pills">#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-3.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-4.png') }}"></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                                {#<div class="panel-body">#}
                                    {#<ul class="nav nav-pills">#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-1.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-2.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-3.png') }}"></a></li>#}
                                        {#<li class="shop-cell"><a href="#"><img class="img-rounded shop-ava" src="{{ asset('bundles/framework/images/shop-4.png') }}"></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}

                    {#<!-- Left and right controls -->#}
                    {#<a class="left carousel-control" href="#jacket-shop" role="button" data-slide="prev">#}
                        {#<span aria-hidden="true"><<<</span>#}
                        {#<span class="sr-only">Previous</span>#}
                    {#</a>#}
                    {#<a class="right carousel-control" href="#jacket-shop" role="button" data-slide="next">#}
                        {#<span aria-hidden="true">>>></span>#}
                        {#<span class="sr-only">Next</span>#}
                    {#</a>#}
                {#</div>#}
            {#</div>#}

        {#</div>#}
    {#</div>#}



{#REVIEW    #}
    <div class="review-field row">
        <h1>this is review</h1>



    </div>






{% endblock %}

        

